{% extends "base.html" %}
{% block title %}
Verify Certificate
{% endblock title %}

{% block body %}
<center>
    <h1>  Verify Certificate</h1>
<form method="post">
    {% csrf_token %}
    <label for="certificate_id">Certificate ID:</label>
    <input type="text" id="certificate_id" name="certificate_id" required>
    <button type="submit">Verify</button>
</form>
{% if messages %}
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
</center>
{% endblock body %}


<!-- 
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Certificate</title>
</head>
<body>
    <h1>Verify Certificate</h1>
    <form method="post">
        {% csrf_token %}
        <label for="certificate_id">Certificate ID:</label>
        <input type="text" id="certificate_id" name="certificate_id" required>
        <button type="submit">Verify</button>
    </form>
    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html> {% endcomment %} -->